<ul class="social-links">
        <li>
            <a class="social-icon" target="_blank" href="mailto:strasser.ms@gmail.com">
                <div class="icon icon--ei-envelope  "><svg class="icon__cnt"><use xlink:href="#ei-envelope-icon"></use></svg></div>
            </a>
        </li>
        <li>
            <a class="social-icon" target="_blank" href="https://twitter.com/{{twitter}}">
                <div class="icon icon--ei-sc-twitter  "><svg class="icon__cnt"><use xlink:href="#ei-sc-twitter-icon"></use></svg></div>
            </a>
        </li>
    </ul>