
   <section>
        <a href="/about"><h3>Fine Arts and Videos</h3></a>
        <div>

            <a href="/about">
                <image class="thumbnail-2" src="{{asset '/images/art.jpg'}}" />
            </a>

        </div>

    </section>