    <a href="/play"><h3>Games and Programs</h3></a>
              <a href="/play">
                <div>
                    <div>
                        <image class="thumbnail-1" src="{{asset '/images/polyphonic_200.gif'}}" />
                        <image class="thumbnail-1" src="{{asset '/images/piano_200.gif'}}" />

                    </div>


                    <div>
                        <image class="thumbnail-1" src="{{asset '/images/3dchem_200.gif'}}" />
                        <image class="thumbnail-1" src="{{asset '/images/soundman_200.gif'}}" />

                    </div>
                </div>
            </a>