    <p class="my_meta">

         <time datetime="{{date format="YYYY-DD-MMTHH:mm:ss-05:00"}}">
         {{date published_at format="MMMM D, YYYY"}}.
         </time>Send your thoughts via

         <a target="_blank" href="https://twitter.com/mkstra" >
{{!--           style="font-size:0.01rem;"--}}
         twitter</a><iconify-icon data-icon="ei-sc-twitter" data-height="50" data-inline="false"></iconify-icon>

          or <a target="_blank" href="mailto:strasser.ms@gmail.com">
           mail</a><iconify-icon data-icon="clarity:email-solid" data-height="50" data-inline="false"></iconify-icon>
        </p>