    <h2><i>Recent</i></h2>
    <ul class="katakana">
    {{#get "posts" limit="3" order="published_at desc"}}
    {{#foreach posts}}
        <li>
                    <a href="{{url}}" rel="permalink">
                        {{title}}
                    </a>
                    </br>

                </li>

        {{!-- {{#has tag="short"}}
            <div id="main">
                <h1>{{title}}</h1>
                <div >{{content}}</div>
                        

            </div>
            <br/>
        {{/has}} --}}

        {{/foreach}}

    {{/get}}
    </ul>
{{!-- </div> --}}